
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .light {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 210 40% 96.1%;
  }

  .dim {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --secondary: 217 32% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 32% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 32% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 32% 25%;
    --input: 217 32% 25%;
    --ring: 197 71% 73%;
    --chart-1: 210 40% 98%;
    --chart-2: 217 32% 25%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 210 40% 98%;
    --chart-2: 217.2 32.6% 17.5%;
  }

  /* ACCENT COLORS */
  .theme-blue {
    --primary: 207 90% 54%;
    --primary-foreground: 210 40% 98%;
  }
  .theme-yellow {
    --primary: 48 96% 53%;
    --primary-foreground: 48 96% 13%;
  }
  .theme-pink {
    --primary: 322 80% 55%;
    --primary-foreground: 210 40% 98%;
  }
  .theme-purple {
    --primary: 264 82% 62%;
    --primary-foreground: 210 40% 98%;
  }
  .theme-orange {
    --primary: 25 95% 53%;
    --primary-foreground: 210 40% 98%;
  }
  .theme-green {
    --primary: 142 71% 45%;
    --primary-foreground: 210 40% 98%;
  }


  /* This is the class for the customer order page */
  .theme-order {
    --background: 26 100% 97%; /* #FFF8F0 */
    --foreground: 30 31% 25%; /* #4E342E */
    --card: 0 0% 100% / 0.8; /* white with alpha */
    --card-foreground: 30 31% 25%;
    --popover: 26 100% 97%;
    --popover-foreground: 30 31% 25%;
    --primary: 13 25% 34%; /* #6D4C41 */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 72% 67%; /* #E57373 */
    --secondary-foreground: 0 0% 100%;
    --muted: 13 25% 90%;
    --muted-foreground: 13 25% 45%;
    --accent: 30 100% 65%; /* #FFB74D */
    --accent-foreground: 30 31% 25%;
    --border: 13 25% 80%;
    --input: 13 25% 70%;
    --ring: 13 25% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
